@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YekanBakh';
  src: url(./assets/fonts/YekanBakhFaNum-Regular.ttf);
}

@font-face {
  font-family: 'YekanBakh-bold';
  src: url(./assets/fonts/YekanBakhFaNum-Bold.ttf);
}
@font-face {
  font-family: 'YekanBakh-extraBold';
  src: url(./assets/fonts/YekanBakhFaNum-Bold.ttf);
}
@font-face {
  font-family: 'YekanBakh-light';
  src: url(./assets/fonts/YekanBakhFaNum-Light.ttf);
}
@font-face {
  font-family: 'YekanBakh-black';
  src: url(./assets/fonts/YekanBakhFaNum-Black.ttf);
}

body, html{
  font-family: 'YekanBakh';
  direction: rtl;
}

.font-bold{
  font-family: 'YekanBakh-bold';
}
.font-extraBold{
  font-family: 'YekanBakh-extraBold';
}
.font-light{
  font-family: 'YekanBakh-light';
}
.font-black{
  font-family: 'YekanBakh-black';
}

.inner-container{
  max-width: 1220px;
}

@media(max-width: 1330px){
  .inner-container{
    max-width: 1100px;
  }
}